.header {
	.header-top-menu {
		background-color: $primary;
		padding: 16px 0;
		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0 30px;
			li {
				a {
					color: $dark-text-color;
					text-decoration: none;
				}
			}
		}
	}

	.header-middle-content {
		padding: 20px 0;
		border-bottom: 1px solid $primary;
		.flx {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.info {
				display: flex;
				align-items: center;
				a {
					display: block;
					text-decoration: none;
					color: $dark;
					&.phone-number {
						margin-right: 40px;
					}
				}
				button {
					@include call-back($main, $dark);

					padding: 0;
					margin: 0;
					background-color: transparent;
					outline: none;
					cursor: pointer;
				}
			}
		}
	}

	.header-bottom-menu {
		padding: 30px 0;
		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0 40px;
			li {
				a {
					display: block;
					text-decoration: none;
					color: $dark;
				}
			}
		}
	}
}
