@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.container {
  position: relative;
  max-width: 1110px;
  padding: 0 20px;
  margin: 0 auto;
}

.header .header-top-menu {
  background-color: #efefef;
  padding: 16px 0;
}
.header .header-top-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 30px;
}
.header .header-top-menu ul li a {
  color: #333;
  text-decoration: none;
}
.header .header-middle-content {
  padding: 20px 0;
  border-bottom: 1px solid #efefef;
}
.header .header-middle-content .flx {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-middle-content .flx .info {
  display: flex;
  align-items: center;
}
.header .header-middle-content .flx .info a {
  display: block;
  text-decoration: none;
  color: #000;
}
.header .header-middle-content .flx .info a.phone-number {
  margin-right: 40px;
}
.header .header-middle-content .flx .info a.call-back {
  width: 170px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  border-radius: 40px;
  font-size: 0.875rem;
  color: #000;
  border: 2px solid #f13c6e;
}
.header .header-bottom-menu {
  padding: 30px 0;
}
.header .header-bottom-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 40px;
}
.header .header-bottom-menu ul li a {
  display: block;
  text-decoration: none;
  color: #000;
}

.banner-section {
  background: url("../images/banner-section-bg.jpg") center/cover;
}
.banner-section .flx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 604px;
  color: #fff;
}
.banner-section .flx h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 50px;
}
.banner-section .flx p {
  font-size: 0.875rem;
  line-height: 20px;
  margin-bottom: 30px;
}
.banner-section .flx a {
  width: 170px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  border-radius: 40px;
  font-size: 0.875rem;
  color: #fff;
  border: 2px solid #fff;
  letter-spacing: 0.7px;
}

.cards-section {
  background-color: #efefef;
  padding: 80px 0;
}
.cards-section h2 {
  font-size: 1.5rem;
  color: #000;
  font-weight: 700;
  margin-bottom: 38px;
}
.cards-section .flx {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.cards-section .flx .card {
  width: calc(25% - 22.5px);
  background-color: #fff;
  padding: 25px;
}
.cards-section .flx .card img {
  display: block;
  margin: 0 auto;
}
.cards-section .flx .card h5 {
  font-size: 0.875rem;
  text-align: center;
  line-height: 19px;
  font-weight: 400;
  margin: 20px 0;
}
.cards-section .flx .card .price {
  text-align: center;
  font-weight: 500;
  font-size: 1.313rem;
  margin-bottom: 20px;
}
.cards-section .flx .card a {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  line-height: 35px;
  border-radius: 30px;
  font-size: 0.875rem;
  color: #fff;
  background-color: #f13c6e;
  letter-spacing: 0.7px;
}

.info-section {
  background-color: #efefef;
  padding-top: 20px;
  padding-bottom: 100px;
}
.info-section .flx {
  display: flex;
  gap: 0 30px;
}
.info-section .flx .block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  background-color: #f13c6e;
  padding: 35px 45px 35px 40px;
  color: #fff;
}
.info-section .flx .block h2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 25px;
}
.info-section .flx .block p {
  font-size: 0.875rem;
  line-height: 19px;
  margin-bottom: 25px;
}
.info-section .flx .block input {
  width: 225px;
  height: 35px;
  outline: none;
  background-color: #fff;
  border-radius: 30px;
  font-size: 0.875rem;
  padding: 0 25px;
  border: none;
  color: #000;
  font-family: "Roboto", sans-serif;
}
.info-section .flx .block input::-moz-placeholder {
  color: #c4c4c4;
}
.info-section .flx .block input::placeholder {
  color: #c4c4c4;
}
.info-section .flx .block a {
  width: 170px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  border-radius: 40px;
  font-size: 0.875rem;
  color: #fff;
  border: 2px solid #fff;
  display: block;
  height: 35px;
  line-height: 35px;
}

.logos-section {
  background-color: #efefef;
}
.logos-section .flx {
  display: flex;
  flex-wrap: wrap;
}
.logos-section .flx a {
  width: 25%;
  height: 119px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #efefef;
}/*# sourceMappingURL=app.css.map */